<div class="container">
  <div id="header" class="d-lg-flex align-items-center justify-content-end" align="center">
    <div class="p-2 mrauto">
      <a href="#mainpage">Portfolio</a>
    </div>
    <div class="space">
    </div>
    <div class="p-3">
      <a id="link" href="#projects">Projects</a>
    </div>
    <div class="p-3">
      <a id="link" href="#skills">Skills</a>
    </div>
    <div class="p-3">
      <a id="link" href="#aboutme">About Me</a>
    </div>
    <div class="p-3">
      <a id="link" href="#contactme">Contact Me</a>
    </div>
    <div class="p-3">
      <a id="link" href="assets/Jose Bastardo Resume.pdf" target="_blank">Resume</a>
    </div>
  </div>
</div>
