<div class="container-fluid">
  <div id="header" class="row align-items-center justify-content-center">
    <div class="col-md-1" align="center">
      <a href="#">Portfolio</a>
    </div>
    <div class="space">

    </div>
    <div class="col-md-1" align="center">
      <a id="link" href="#">Projects</a>
    </div>
    <div class="col-md-1" align="center">
      <a id="link" href="#">About Me</a>
    </div>
    <div class="col-md-1" align="center">
      <a id="link" href="#">Contact Me</a>
    </div>
  </div>
  </div>
