#codingimg {
  height: auto;
  width: 90%;
}

p {
  color: white;
  font-family: "Raleway-Thin", sans-serif;
  font-size: 1.3em;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}

div {
}
