<div id="mainpage" class="contain">
  <div id="sectionrow" class="row align-items-center justify-content-center">
    <div class="col-xl-4">
      <img id="profileimg" src="assets/profile-image.png" alt="Profile Picture">
    </div>
    <div id="namecol" class="col-xl-6" align="center">
      <h1>JOSE<br>BASTARDO</h1>
      <div class="mainlinks">
        <a href="https://www.linkedin.com/in/josebastardo/" id="linkedin" target="_blank"><fa-icon [icon]="linkedinicon"></fa-icon></a>
        <a href="https://github.com/Jose-Bastardo" id="github" target="_blank"><fa-icon [icon]="githubicon"></fa-icon></a>
      </div>
    </div>
  </div>
</div>
