#profileimg {
  width: auto;
  height: 40em;
  margin: 0;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0) 620px);
}

.mainlinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 80px;
  width: 60%;
}

a {
  background-color: white;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0 2px 8px 1px rgba(255, 255, 255, .2), 0 6px 20px 0 rgba(255, 255, 255, 0.1);
  color: black;
  font-size: 4em;
  transition: background-color 250ms, color 350ms, transform 250ms;
}

#linkedin:hover {
  background-color: #0077B5;
  color: white;
  transform: translateY(-10px);
}

#github:hover {
  background-color: #7C007C;
  color: white;
  transform: translateY(-10px);
}

#linkedin:active {
  transform: translateY(-5px);
}

#github:active {
  transform: translateY(-5px);
}

p {
  color: white;
  font-family: "Raleway-Thin", sans-serif;
  font-size: 1.5em;
}

h1 {
  color: white;
  font-family: "HKGrotesk-Light", sans-serif;
  font-size: 7em;
}

#namecol {
  height: 520px;
}

@media screen and (max-width: 991px) {
  #profileimg {
    width: auto;
    height: 15em;
  }
  p {
    margin-top: 70px;
    font-size: 1.3em;
  }

  h1 {
    padding-top:30px;
    font-size: 3em;
  }

  a{
    font-size: 2em;
  }

  .mainlinks{
    margin-top: 50px;
  }
}
