<header>
  <app-header></app-header>
</header>
<div class="">
  <div id="container" class="container-fluid" align="center">
    <div class="row" align="center">
      <app-main align="center"></app-main>
    </div>
    <div class="row" align="center">
      <app-project></app-project>
    </div>
    <div class="row" align="center">
      <app-skills></app-skills>
    </div>
    <div class="row" align="center">
      <app-aboutme></app-aboutme>
    </div>
    <div class="row" align="center">
      <app-contactme></app-contactme>
    </div>
  </div>
</div>
