img {
  width: 100%;
}

img:hover {
  animation-name: imghover;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-fill-mode: both;
}

img:not(img:hover){
  animation-name: imgnothover;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-fill-mode: both;
}

@keyframes imghover {
  from {transform: translateY(0px);}
  to {transform: translateY(-5px);}
  from {box-shadow: 0;}
  to {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
}

@keyframes imgnothover {
  from {transform: translateY(-5px);}
  to {transform: translateY(0px);}
  from {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
  to {box-shadow: 0;}
}