/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css");

@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url('/assets/fonts/HKGrotesk-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'HKGrotesk-Light';
  src: url('/assets/fonts/HKGrotesk-Light.otf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Thin';
  src: url('src/assets/fonts/Raleway-Thin.ttf') format('truetype');
}

body {
  background: url("src/assets/Background.png") no-repeat fixed center;
  background-size: 100% 100%;
  height: 100%;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.contain {
  display: flex;
  height: 100vh;
  justify-content: center;
}

#sectionrow {
  width: 100%;
  padding-top: 80px;
  height: 100vh;
}

.sectionhead {
  display: flex;
  position: absolute;
  top: 0;
  height: 220px;
  width: 70%;
  align-items: flex-end;
  margin: 0 auto;
}

h2 {
  color: white;
  font-size: 5em;
  font-family: "Raleway-Thin", sans-serif;
}

@media screen and (max-width: 991px) {
 h2{
   font-size: 2em;
 }
}
